  
.allInfo {
    margin-top: 5em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.infoProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoProjects h1 {
    display: inline-block;
    width: 100%;
}

.listCards {
    list-style: none;
    width: 30em;
}

.infoTools {
    margin-top: 2em;
    width: 30em;
    display: flex;
    flex-direction: column;
}

.infoAboutMe {
    width: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.titlesContent {
    display: flex;
    justify-content: center;
    width: 30em;
    margin-bottom: 1em;
}

.titlesInfo {
    color: #17e0ff;
    display: inline-block;
    font-size: 2em;
}