  
.allInfo {
    margin-top: 6em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.infoProjects {
    width: 100%;
}

.infoProjects h1 {
    display: inline-block;
    width: 100%;
}

.listCards {
    list-style: none;
    width: 30em;
}

.infoTools {
    margin-top: 2em;
    width: 30em;
    display: flex;
}

.infoAboutMe {
    width: 30em;
    margin-top: 2em;
    margin-bottom: 2em;
}