.card {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}

.cardContent {
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
}

.card:hover {
    border: 0.08em solid #77859f;
    border-radius: 0.6em;
    background-color: #2D3446;
}

.card:hover .githubLogo button {
    background-color: #2D3446;
}

.cardImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    width: 118px;
    height: 100%;
    flex-direction: column;
    
}

.imgProject {
    border: 0.125em solid #77859f;
    border-radius: 0.2em;
    width: 93px;
    height: 52px;
    background-color: white;
}

.imgProject img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cardInfo {
    width: 68%;
}

.cardTitle {
    font-size: 1.17em;
}

.cardDescription {
    margin-top: 0.7rem;
    color: #dacece;
    opacity: 0.9;
}

.cardBuilt {
    margin-top: 0.7rem;
}

.cardBuilt h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 0.5em;
}

.cardBuilt ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.cardBuilt ul li {
    margin-right: 0.3em;

}

.cardLinks {
    width: 121px;
    display: flex;
}

.githubLogo {
    display: flex;
    justify-content: center;
    width: 121px;
    margin-bottom: 0.2em;
}

.githubLogo a {
    width: 60px;
    height: 56px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


.githubLogo a img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}