
aside {
    width: 50%;
    top: 0;
    height: 20em;
    position: sticky;
    display: flex;
    justify-content: center;
}
 
header {
    margin-top: 6em;
    width: 60%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav {
    width: 100%;
}

header nav ul {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.titles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nameTitle {
    width: 100%;
    display: inline-block;
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: -.025em;
    margin-bottom: 0.25em;
    color: rgb(255, 255, 255);
}

.backendTitle {
    width: 100%;
    color: rgb(206, 17, 17);
}

    
@media only screen and (max-width: 600px) {
    header {
        width: 80%;
    }

    
    aside {
        /*position: relative;
        */
        width: 100%;
        margin: 0;
    }
}